footer{
	margin: 20px;
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	color: darkslategray;

}
.roundedCorners {
	border-radius: 5px;

}
.Panel{
	margin: 1%;
	padding: 2%;
	background: aliceblue;
	width: 80%;
}

.internalPanel{
	padding: 3%;
	background: lightgray;
}

.contentPanel{
	padding: 3%;
	background: gray;
}

button{
	background: #fff;
	height: 30px;
	width: 140px;
}